# Задание 1
Имеется текстовый файл f.csv, по формату похожий на .csv с разделителем |

lastname|name|patronymic|date_of_birth|id

Фамилия1|Имя1|Отчество1 |21.11.1998 |312040348-3048

Фамилия2|Имя2|Отчество2 |11.01.1972 |457865234-3431

...

## 1. Реализовать сбор уникальных записей

## 2. Случается, что под одиннаковым id присутствуют разные данные - найти такие записи

In [1]:
import pandas as pd

unique_records = {} # Словарь для хранения уникальных записей
duplicated_records = [] # Список для хранения дубликатов

df = pd.read_csv('task1.csv', delimiter='|', index_col='id') # Чтение csv файла
for index, row in df.iterrows():
    if index not in unique_records:
        unique_records[index] = row # Сбор уникальных записей
    else:
        duplicated_records.append(unique_records[index]) # Сбор дубликатов
        duplicated_records.append(row)

print('Уникальные записи')
display(pd.DataFrame(unique_records).transpose()) # Вывод уникальных записей
print('\nДубликаты')
pd.DataFrame(duplicated_records) # Вывод дубликатов

Уникальные записи

               lastname   name patronymic date_of_birth
312040348-3048   Иванов   Иван   Иванович    21.11.1998
457865234-3431   Петров   Петр   Петрович    11.01.2972
323445345-7646  Сидоров  Сидор  Сидорович    12.12.1992

Дубликаты

               lastname  name patronymic date_of_birth
312040348-3048   Иванов  Иван   Иванович    21.11.1998
312040348-3048   Пупкин  Иван   Петрович    14.11.1986

# Задание 2

В наличии список множеств. внутри множества целые числа. Посчитать:
1. общее количество чисел
2. общую сумму чисел
3. посчитать среднее значение
4. собрать все множества в один кортеж

m = [{11, 3, 5}, {2, 17, 87, 32}, {4, 44}, {24, 11, 9, 7, 8}]

In [2]:
m = [{11, 3, 5}, {2, 17, 87, 32}, {4, 44}, {24, 11, 9, 7, 8}]

#1. Общее количество чисел
N = sum([len(s) for s in m])
print('Общее количество чисел: ', N)

#2. Общая сумма чисел
S = sum(sum(s) for s in m)
print('Общая сумма чисел: ', S)

#3. Среднее значение
print('Среднее значение: ', S / N)

#4. Собрать все значения в один кортеж
l = []
for i in m:
    for j in i:
        l.append(j)
print('Все значения в одном кортеже: ', tuple(l))

Общее количество чисел:  14
Общая сумма чисел:  264
Среднее значение:  18.857142857142858
Все значения в одном кортеже:  (11, 3, 5, 32, 17, 2, 87, 4, 44, 7, 8, 9, 11, 24)

# Задание 3

Имеется список списков

a = [[1,2,3], [4,5,6]]

Сделать список словарей

b = [{'k1': 1, 'k2': 2, 'k3': 3}, {'k1': 4, 'k2': 5, 'k3': 6}]

In [3]:
a = [[1, 2, 3], [4, 5, 6]]
b = [] # Создаем пустой список для записи словарей
for i in a:
    counter = 1 # Создаем счетчик для записи ключа
    b_dict = {} # Создаем словарь для записи значений
    for j in i:
        b_dict[f'k{counter}'] = j # Запись значений в словарь
        counter += 1 # Инкремент счетчика
    b.append(b_dict) # Запись словаря в новый список

print(b) # Вывод нового списка

[{'k1': 1, 'k2': 2, 'k3': 3}, {'k1': 4, 'k2': 5, 'k3': 6}]

# Задание 4

Имеется папка с файлами

Реализовать удаление файлов старше N дней

In [4]:
import os
import time

now = time.time() #Текущее время
path = './task4/' # Путь к папке
N = 1 # Количество дней

files_list = [file for file in os.listdir(path) if os.path.isfile(path+file)] # Получаем список всех файлов в папке
for file in files_list:
    creation_date = os.path.getctime(path+file) # Получаем дату создания файла
    if (now - creation_date) // 86400 >= N: # Проверка возраста файла в днях
        os.remove(path+file)

# Задание 5*

Имеется текстовый файл с набором русских слов(имена существительные, им.падеж)

Одна строка файла содержит одно слово.

Написать программу которая выводит список слов, каждый элемент списка которого - это новое слово, которое состоит из двух сцепленных в одно, которые имеются в текстовом файле.

In [5]:
# установка библиотеки для работы со словами
# pip install pyphen

In [6]:
import pyphen # Импорт библиотеки для разбиения строк по слогам

def divide_into_syllables(word): # функция для разбиения слов по слогам
    dic = pyphen.Pyphen(lang='ru_RU')
    syllables = dic.inserted(word).split('-')
    return syllables

path = 'task5.txt'
with open(path, 'r', encoding='utf-8') as f:
    words = [line.strip() for line in f] # запись слов из файла в список
user_word = str(input('Введите слово: '))
last = divide_into_syllables(user_word)[-1] # вычисляем последний слог введенного слова

try:
    prelast = divide_into_syllables(user_word)[-2] # вычисляем предпоследний слог введенного слова
except IndexError:
    prelast = '' # обработка в случае, если слово состоит из 1 слога

for word in words:
    start = divide_into_syllables(word)[0] # вычисляем 1 слог слова из списка
    try:
        second = divide_into_syllables(word)[1] # вычисляем 2 слог слова из списка
    except IndexError:
        second = '' # обработка в случае, если слово состоит из 1 слога
    '''если сопадает последний слог введенного слова и первый слог текущего слова, тогда выводим результат,
    прибавляем к введенному слову нужную часть текущего слова'''
    if last in start and user_word != word:
        print(user_word+word.replace(last, ''))
    '''если сопадают предпоследний и последний слог введенного слова, а также первый и второй слог слова,
    тогда выводим результат, прибавляем к введенному слову нужную часть слова'''
    if prelast+last in start+second and user_word != word:
        print(user_word+word.replace(prelast+last, ''))

Введите слово: ласты
ластык
ластыковка